{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h2>Change Password</h2>
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="Old_Password" name="Old_password" placeholder="Old Password" type="password" autocomplete="off">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="New_password" name="New_password" placeholder="New Password" type="password" autocomplete="off">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}