{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block styles %}
    .history-table{
        margin: 0% 5% 0% 5%;
    }
{% endblock %}

{% block main %}
    <h2>History</h2>
    <div class="history-table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% for h in history %}
                <tr>
                    <td>{{h["symbol"]}}</td>
                    <td>{{h["shares"]}}</td>
                    <td>{{h["price"] | usd}}</td>
                    <td>{{h["transactions"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}